.revenue {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 8rem;
  gap: 7rem;
}
.revenue-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}
.revenue div {
  display: flex;
  justify-content: center;
  width: 100%;
}
.reven-img {
  width: 1000px;
  object-fit: contain;
}
@media screen and (max-width: 1000px) {
  .reven-img {
    width: 100%;
  }
  .revenue {
    gap: 3rem;
    margin-top: 5rem;
  }
}
@media screen and (max-width: 500px) {
  .revenue {
    margin-top: 3rem;
  }
}
