.problem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 70vh;
  flex-direction: column;
  padding: 3rem 0rem;
  margin-top: 2rem;
  gap: 30px;
}
.problem-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  position: relative;
  overflow: visible;
  width: 1080px;
}
.problem-bg {
  border-radius: 65px;
  width: 100%;
  object-fit: contain;
  max-width: 150px;
  position: relative;
}
.pointer-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  gap: 10px;
  position: absolute;
}
.pointer-img {
  width: 80px;
  object-fit: contain;
}
.right-pointer {
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 4px;
  height: 65px;
}
.pointer-div1 .right-pointer {
  height: 75px;
}
.pointer-div6 .right-pointer {
  height: 60px;
}
.right-pointer h4 {
  font-size: 1.3rem;
  padding: 0px;
  margin: 0px;
  overflow: visible;
}
.pointer-div1 {
  top: -4.5%;
  left: 51%;
}
.pointer-div2 {
  top: 12%;
  left: 18%;
}

.pointer-div3 {
  left: 56%;
  top: 24%;
}
.pointer-div4 {
  top: 36%;
  left: 22%;
}

.pointer-div5 {
  top: 47%;
  left: 56%;
}
.pointer-div6 {
  top: 58%;
  left: 22%;
}

.pointer-div7 {
  top: 70%;
  left: 56%;
}
.pointer-div8 {
  top: 82%;
  left: 1%;
}

.pointer-div9 {
  top: 91%;
  left: 53%;
}
.pointer-div2 .left-pointer,
.pointer-div4 .left-pointer,
.pointer-div6 .left-pointer,
.pointer-div8 .left-pointer {
  order: 2;
}
.pointer-div2 .right-pointer,
.pointer-div4 .right-pointer,
.pointer-div6 .right-pointer,
.pointer-div8 .right-pointer {
  text-align: right;
}
.left-pointer img:first-child {
  display: block;
}
.mobile {
  display: none;
}
@media screen and (max-width: 1080px) {
  .problem-image {
    width: 700px;
  }
  .pointer-div {
    width: 270px;
  }
  .right-pointer h4 {
    font-size: 1rem;
  }
  .pointer-div1 {
    top: -5%;
    left: 53%;
  }
  .pointer-div2 {
    top: 12%;
    left: 6%;
  }

  .pointer-div3 {
    left: 59%;
    top: 24%;
  }
  .pointer-div4 {
    top: 36%;
    left: 7%;
  }
  .pointer-div5 {
    top: 46%;
    left: 54%;
  }
  .pointer-div6 {
    top: 58%;
    left: 7%;
  }

  .pointer-div7 {
    top: 70%;
    left: 58%;
  }
  .pointer-div8 {
    top: 82%;
    left: 2%;
  }

  .pointer-div9 {
    top: 91%;
    left: 53%;
  }
}
@media screen and (max-width: 700px) {
  .problem-image {
    max-width: 375px;
  }
  .pointer-div {
    width: min-content;
  }
  .right-pointer h4 {
    font-size: 0.9rem;
  }
  .left-pointer img {
    max-width: 50px;
  }
  .pointer-div1 {
    top: -3%;
    left: 53%;
  }
  .pointer-div2 {
    top: 14%;
    left: -4%;
  }

  .pointer-div3 {
    left: 66%;
    top: 26%;
  }
  .pointer-div4 {
    top: 38%;
    left: 5%;
  }
  .pointer-div5 {
    top: 48%;
    left: 65%;
  }
  .pointer-div6 {
    top: 61%;
    left: -3%;
  }

  .pointer-div7 {
    top: 73%;
    left: 65%;
  }
  .pointer-div8 {
    top: 84%;
    left: -5%;
  }

  .pointer-div9 {
    top: 93%;
    left: 56%;
  }
}
@media screen and (max-width: 530px) {
  .problem-image {
    max-width: 375px;
  }
  .left-pointer img:first-child {
    display: none;
  }

  .pointer-div9 img:first-child {
    display: block;
  }
  .mobile {
    display: block;
  }
  .pointer-div1 .left-pointer,
  .pointer-div3 .left-pointer,
  .pointer-div5 .left-pointer,
  .pointer-div7 .left-pointer {
    order: 2;
  }
  .pointer-div1 .right-pointer,
  .pointer-div3 .right-pointer,
  .pointer-div5 .right-pointer,
  .pointer-div7 .right-pointer {
    text-align: right;
  }

  .pointer-div2 .left-pointer,
  .pointer-div4 .left-pointer,
  .pointer-div6 .left-pointer,
  .pointer-div8 .left-pointer {
    order: 1;
  }
  .pointer-div2 .right-pointer,
  .pointer-div4 .right-pointer,
  .pointer-div6 .right-pointer,
  .pointer-div8 .right-pointer {
    text-align: left;
    order: 2;
  }
  .pointer-div {
    width: 200px;
  }
  .right-pointer h4 {
    font-size: 0.9rem;
  }
  .left-pointer img {
    max-width: 50px;
  }
  .pointer-div1 {
    top: -2%;
    left: -3%;
  }
  .pointer-div2 {
    top: 17%;
    left: 41%;
  }

  .pointer-div3 {
    left: 6%;
    top: 28%;
  }
  .pointer-div4 {
    top: 40%;
    left: 36%;
  }
  .pointer-div5 {
    top: 50%;
    left: 10%;
  }
  .pointer-div6 {
    top: 63%;
    left: 35%;
  }

  .pointer-div7 {
    top: 74%;
    left: 4%;
  }
  .pointer-div8 {
    top: 85%;
    left: 41%;
  }

  .pointer-div9 {
    top: 93%;
    left: 58%;
  }
  .pointer-div .right-pointer {
    height: 40px !important;
  }
}
@media screen and (max-width: 478px) {
  .pointer-div9 {
    width: min-content;
  }
}
